__pycache__/
*.pyc
myvenv/
ipynb_checkpoints/untitled-checkpoint.ipynb
.ipynb_checkpoints/
.vscode
__pycache__/
myvenv
myvenv/
tempImage
tempImage/
testImage
testImage/
checkpoint1.db
data/db.pkl
threads.json
.env

