# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.venv
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# VS Code
.vscode/

# PyCharm
.idea/

# Project Specific Ignores
artifacts/
data/
notebook/data.zip
notebook/data/
notebook/multimodal_model.pt
logs/
vector_db/
tempImage/
testImage/
*.db
*.pkl
*.log
*.zip
*.pt

# Keep some essentials
!pyproject.toml
!uv.lock
!Readme.md
!LICENSE
